<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Perfil Profissional</h2>
  <div class="summary">
    <p>
      Apaixonado pro programação e Surf. <br/>
      Me sinto em casa em ambientes que exigem alta performance e em projetos
      inovadores que exijam mais da minha pessoa, tanto em aspectos técnicos quanto profissionais.

      Gosto muito do do que faço e prezo que o meu trabalho deve facilitar a vida de seus usuários,
      fazendo que sobre mais tempo para lidarem com o que importa, sua qualidade de vida.
      <br/>
      <br/>

      Sou movido à desafios, autodidata e por isso não tenho medo do que virá pela frente.
    </p>
  </div><!--//summary-->
</section><!--//section-->
