<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Professional Profile</h2>
  <div class="summary">
    <p>
      Surfer with proficiency in programming.
      <br><br>
      I'm currently working with NodeJs, VueJs, Typescript and Docker.
      <br><br>
      Web Developer Specialist in multiples open-source technologies, rather based on Linux.
      I have some valuable knowledge Microservices, Dockerization, PostgreSQL, SqlServer, MongoDB and Redis.
      Backend technologies as NodeJS, .Net and Ruby on Rails.
      <br><br>
      I believe software should work as an improvement in life's quality of users.
      By making them, I feel like my work has a real impact on people's life.
      I consider myself a dynamic developer, always open to new innovations, technologies, and challenges.
    </p>
  </div>
  <!--//summary-->
</section>
<!--//section-->
