<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Professional Profile</h2>
  <div class="summary">
    <p>
      Surfer with proficiency in programming.
      I like working with the Javascript, C# and Ruby on Rails.

      Specialist in various open-source technologies, preferably based on linux platform four years ago I use as a base.

      I have some knowledge, interesting, in databases, relational or not as: PostgreSQL, MSSQL Server, LevelDB, Redis
      and
      LiteDB).

      I believe that the software should work directly with the quality of life of its users. Making them with quality,
      we
      will be giving more time for users to deal with that matter, their quality of life.

      Believe to be a different developer, always open to new innovations, technologies and everyday chores.

      Have a really nice day ;)
      I am available to work in all Europe according to my EU Citizenship.
    </p>
  </div>
  <!--//summary-->
</section>
<!--//section-->