<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Analista de Sistemas</h3>
                <div class="time">2007 - Presente</div>
            </div>
            <!--//upper-row-->
            <div class="company">Automind, Salvador Bahia</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Desenvolvimento de aplicações de Automacação Industrial robustas para a indústria nacional.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Sócio e Diretor de Tecnologia</h3>
                <div class="time">2016 - 2018</div>
            </div>
            <!--//upper-row-->
            <div class="company">Onyx Labs, Salvador Bahia</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Uma empresa que surgiu com o objetivo de alavancar os projetos Syseduc e Hórus.
                Temos o objetivo de trazer inovação para o mercado brasileiro com nossos produtos.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Sócio e Diretor de Tecnologia</h3>
                <div class="time">2014 - 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">Onix Interativa</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Esta foi minha primeira Startup, com foco diversificado de desenvolvimento de
                Websites, Aplicativos e outras soluções customizadas.
                O aprendizado era diário pois tínhamos que aprender como empreender e fazer com
                que a engrenagem da empresa continuasse girando, não foi fácil, porém bastante prazeroso.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Arquiteto de Software</h3>
                <div class="time">2013 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">MW8 Soluções, Salvador - BA</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Atuei com a elaboração de soluções customizadas para clientes como Samsung e Ambev.
                Em um ambiente desafiador a capacidade de criar inovações foi um fator determinante para
                projetos que até hoje estão em andamento.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->