<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2017 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">Automind, Salvador Bahia</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                My current position is about automation for industry.
                I work building new web based solutions for petroleum industry, with HA and using stack .Net, SqlServer
                and Vanilla JS.

                Besides these Web challenges, I deal with some low level programming to integrate new hardware with
                modern SCADA systems.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Co Owner</h3>
                <div class="time">2014 - 2018</div>
            </div>
            <!--//upper-row-->
            <div class="company">Onyx Labs</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                A company that came up with Syseduc and Horus projects.
                The first one is a product to help the management of public schools and the second, Horus, is a software
                based on computer
                vision applied to retail.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">System Analyst</h3>
                <div class="time">2013 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">MW8 Soluções, Salvador - BA</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Analysis and Development of web applications using Ruby on Rails, NodeJs and Java.
                Creating solutions for videos distribution, storage and sorting.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->