<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2020 - Current</div>
            </div>
            <!--//upper-row-->
            <div class="company">Chess24, Hamburg Germany</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                We are working with the creation of the next generation of the online chess.
                I'm working directly on the evolution of the project architecture, creation of apis,
                Dockerization of Microservices and research.Also, part of my daily tasks are ensure the
                application scalabilty, code quality thought code reviews and knowledge sharing.
                Besides that had the opportunity to work with GitLab/Jenkins tasks related to deployment automation.

                Our current tech stack: Docker, Typescript, MongoDb, Redis, ElasticSearch and VueJs.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2019 - 2020</div>
            </div>
            <!--//upper-row-->
            <div class="company">ItsMyCargo, Hamburg Germany</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                I was responsible for the frontend structure of the whole company.
                By bringing new technologies and applying consolidated patterns on new the company's projects we build our frontend infrastructure.
                Also, I have the opportunity to mentor other developers, reviewing solutions and ensuring code quality. To ensure better productivity I worked directly with the automation of processes with Jenkins and GitHub Actions.
                At that moment our current tech stack is based on Rails, PostgreSQL, React, and Typescript.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2017 - 2019</div>
            </div>
            <!--//upper-row-->
            <div class="company">Automind, Salvador Bahia</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                I worked building new web-based solutions for the petroleum industry, using .Net, SqlServer, Javascript, and VueJs.
                During this position, I could work directly with HA systems and I also had the opportunity to build drivers and work
                with low-level programming, integrating new hardware with modern SCADA systems.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Chief Technology Officer</h3>
                <div class="time">2014 - 2018</div>
            </div>
            <!--//upper-row-->
            <div class="company">Onyx Labs</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                I started this company with my partner with one project in mind, Horus, a solution to track people inside stores and provide more data related to its customer's behavior. We build our first project with its kernel written in C++0x and the control panel with Ruby on Rails.
                During the existence of my company we also created a Web Application to manage public schools across the country, another solution that uses on its core, React, Rails, and PostgreSQL.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technical Lead</h3>
                <div class="time">2016 - 2017</div>
            </div>
            <!--//upper-row-->
            <div class="company">Condos - Joint Venture</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                During this joint venture, I could help the company to improve its technical skills
                building a new Mobile App that increased the sales and the maturity level of the company.
                Our application was build using Angular 4+ and Ionic3, it is deployed on Google Play and Apple Store.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2013 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">MW8 Soluções, Salvador - BA</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
            On this startup I had the opportunity to define the company tech stack and work as a tech leader.
            During my time here we created more than 15 websites and different challenging applications for different customers.
            Our tech stack was based on Ruby and Rails for WebApps, NodeJs for Streaming content, and Java for Android apps, we also store the major part of our data on Postgresql.
            One of the nicest projects that I build on this company was a solution for Ambev. This solution allows users to buy video clips and see the latest marketing campaigns
            during the streaming, all that was created with Javascript and embedded in a Samsung LFD TV.
            Besides that judge project I had the opportunity to build one custom RasperryPi image within the CitrixReceiver, this solution was applied countrywide on Ambev.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2011 - 2011</div>
            </div>
            <!--//upper-row-->
            <div class="company">eBehavior - Buscapé Company</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Worked on projects that required HA and solid interfaces to integrate with different platforms/solutions.
                My main task was to create new endpoints written in Ruby on Rails
                for a platform that recommend products based on user behaviour. Those RESTFUL endpoints had to deal with large data traffic and must be reliable.
                I also had the opportunity to build some performant Pig scripts to summarize large volumes of
                data stored in HDFS and create one tool written in python to export data from HDFS and
                populate our Cassandra cluster.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2010 - 2011</div>
            </div>
            <!--//upper-row-->
            <div class="company">CINQ Technologies</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                I worked here in one project that collects all information for financing Volvo trucks on Brazil,
                it was developed using  C#/.NET, Jquery, and Oracle. I also worked on the creation of an
                Educational website that would provide dynamic content to improve student learning.
                This project was developed using  OpenSource technologies such as PHP, MySql, and ExtJS.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time"></div>
            </div>
            <!--//upper-row-->
            <div class="company">Lactec</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                I worked here as a software engineer with Microsoft technologies, C#, .NET, SqlServer, SQLServer CE. on two major projects.
                The first one was a Point of Sale System which had a nice structure to replicate data between Headquarters and Subsidiaries, it was entirely written using one architecture based on Plugins that allow the replacement of whole modules simply by dropping a .dll file inside in one directory. This project was developed to the Bematech, the largest Brazilian company in the segment.
                The second large project that I worked was the customization of a Linux distribution which aimed to speed up the boot and provide a basic user interface while the main operating system was loaded.
                Also I had the opportunity to work with the department infrastructure, maintaining many Linux(Debian) virtual machines and one Microsoft Project Server 2007.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Trainee</h3>
                <div class="time">2005 - 2006</div>
            </div>
            <!--//upper-row-->
            <div class="company">Pontificia Universidade Católica do Paraná</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
            Maintenance of computer and windows systems.
            Also, I was able to help students on the usage of different softwares, on the university laboratory, on simple and complex tasks.
            With this, I had the opportunity to understand how applications should be made, what my target, from whom I write code, what to expect from the usability of one application.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->
