<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
    <p></p>
  </div>
  <!--//intro-->

  <div class="item">
    <span class="project-title"><a href="#" target="_blank">NoSqlBA - 2919</a></span> -
    <span class="project-tagline">
      Presenting a case study about use of LiteDB focused on high concurrency applications.
    </span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="https://tscondos.com.br" target="_blank">Condos</a></span> -
    <span class="project-tagline">
      Condominium management and communication system.
    </span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="#" target="_blank">Syseduc</a></span> -
    <span class="project-tagline">
      Complete management system for public schools.
    </span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="#" target="_blank">Hórus</a></span> -
    <span class="project-tagline">
      Public scan for retail. Through computer vision and follow-up dashboards,
      we were able to provide information about customers' profiles and sales.
    </span>
  </div>
  <!--//item-->

  <div class="item">
    <span class="project-title"><a href="#">Ambev - Show de Bar</a></span> -
    <span class="project-tagline">
      Entertainment solution focused on Ambev's bars for marketing actions and
      music and video selling.
    </span>
  </div>
  <!--//item-->
  <!-- 
  <div class="item">
    <span class="project-title"><a href="#" target="_blank">Portal Volvo Financial Services</a></span> -
    <span class="project-tagline">National portal for the financing of the entire network of Volvo dealers</span>
  </div> -->
  <!--//item-->

</section>
<!--//section-->