<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Alguns Projetos de Destaque</p>
    </div><!--//intro-->


    <div class="item">
        <span class="project-title"><a href="https://tscondos.com.br" target="_blank">Condos</a></span> -
        <span class="project-tagline">
          Sistema de gerência e comunicação de condomínios.
        </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Syseduc</a></span> -
        <span class="project-tagline">
          Sistema completo de gestão para uma Secretaria de Educação Municipal.
        </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">App Cozinha e Saúde</a></span> -
        <span class="project-tagline">
          Aplicativo voltado para a vistoria alimentar de shows e demais estabelecimentos.
        </span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Hórus</a></span> -
        <span class="project-tagline">
          Solução de contagem de pessoas para o varejo.
          Através de visão computacional e dashboards de acompanhamento conseguimos dar a visibilidade real do
          <a href="http://blog.pr.sebrae.com.br/financas/ticket-medio-voce-planeja-suas-vendas-com-base-no-ticket-medio">Ticket Médio</a>
          de seu estabelecimento.
        </span>
    </div><!--//item-->

    <div class="item">
      <span class="project-title"><a href="#">Ambev - Show de Bar</a></span> -
      <span class="project-tagline">Solução de entretenimento voltada para os bares da Ambev para ações de Marketing Direcionado.
        Contando com a venda de músicas e videoclipes para os clientes dos mesmos.</span>
    </div><!--//item-->

    <div class="item">
      <span class="project-title"><a href="#" target="_blank">Portal Volvo Financial Services</a></span> -
      <span class="project-tagline">Portal nacional para a realização de financiamentos de toda a rede de concessionárias Volvo.</span>
    </div><!--//item-->

</section><!--//section-->
