<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proeficiência</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">C++, Ruby, Python, C# &amp; Java </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Javascript, CoffeeScript &amp; TypeScript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Angular2, Ionic2, Android &amp; Cordova</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Ruby on Rails, ASP.net MVC &amp; Django</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS3</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Mysql, PostgresSQL, SqlServer &amp; Oracle </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">MongoDB, Redis, Cassandra, CouchDB &amp; Memcached </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->

    </div>
</section><!--//skills-section-->
