<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiencies</h2>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">C# &amp; Ruby</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Javascript &amp; TypeScript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">React &amp; Vue.js</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Ruby on Rails &amp; ASP.net MVC</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS3</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">PostgresSQL, SqlServer &amp; Oracle </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">MongoDB, Redis, CouchDB &amp; LiteDB </h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

    </div>
</section>
<!--//skills-section-->
